<div class="main-container">
  <ul *ngFor="let new of ask" class="news">
    <li class="submission">
      <div class="submission-upper">
        <a
          *ngIf="new.type != 'url'"
          class="submission-title"
          id="{{ new.itemId }}"
          #elem
          (click)="goToSubmission(elem.id)"
          >{{ new.title }}
        </a>
        <a
          *ngIf="new.type == 'url'"
          class="submission-title"
          href="{{ new.page_ }}}"
          >{{ new.title }}
        </a>
        <a *ngIf="new.type == 'url'" class="submission-page" href>{{
          new.page_
        }}</a>
      </div>
      <div class="submission-lower">
        <p class="submission-info">
          {{ new.likedBy.length }} points by
          <a>{{ new.username.username }}</a> at {{ new.datePublished }}
        </p>
        <p class="submission-info">{{ new.comments.length }} comments</p>
      </div>
    </li>
  </ul>
</div>
