.submission-upper {
  margin-bottom: 0.5rem;
}
.submission-lower {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.submission-title {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
}

.submission-page {
  font-size: 1rem;
  text-decoration: none;
  color: #808080;
}

.submission-info {
  font-size: 0.8rem;
  text-decoration: none;
  color: #808080;
}

#main-container {
  background-color: white;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
.submission {
  width: 100%;
  padding: 1rem 0.75rem;
  display: block;
}
#news {
  width: 80%;
  margin: 1rem auto;
  background-color: #f9f7f7;
  border-radius: 0.35rem;
}
