#reply {
  width: 25%;
  margin: 1rem auto;
  margin-top: 3rem;
  padding: 2rem;
  background-color: #f9f7f7;
  border-radius: 0.35rem;
  display: grid;
  place-items: center;
}

#reply-form {
  display: grid;
  place-items: center;
}

#reply-button {
  width: 5rem;
  padding: 0.25rem;
  display: block;
  border: none;
  border-radius: 0.5rem;
  background-color: #112d4e;
  color: white;
}

#reply-button:hover {
  cursor: pointer;
}

.textarea-reply {
  resize: vertical;
  margin-bottom: 2rem;
  height: 20vh;
  width: 20rem;
}
